doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
        Hot hot hot, but not so hot
      h2 we should try another template
      h3 Hey another title, cool!
      h4 Fast fast, and then slow slow slow